.form__container {
  // background-color: pink;
  margin-top: 5rem;
  margin-bottom: 5rem;
}


.form {
  width: 40rem;
  padding: 3rem;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow:
    -12px -12px 12px 0 rgba(255, 255, 255, 255),
    12px 12px 12px 0 rgba(1, 1, 1, .05);

  &__heading {
    font-size: 2rem;

    & h2 {
      margin-bottom: 2rem;
    }
  }

  &__group {
    margin-bottom: 2rem;
  }

  &__label {
    font-size: 2rem;
  }

  &__item {
    width: 100%;
  }
}

